# Maven build output
target/*
!**/src/main/**/target/
!**/src/test/**/target/

# Test output directories
TestNGRunner.xml

Test-Output/Reports/Allure/allure-report/** 
Test-Output/Reports/Allure/allure-results/** 
Test-Output/Reports/Cucumber/** 
Test-Output/Logs/** 
Test-Output/ScreenShots/Failed/** 
Test-Output/UpdateChecker/** 
Ellithium.pptx


### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store