# Maven build output
target/*
!**/src/main/**/target/
!**/src/test/**/target/

# Test output directories
TestNGRunner.xml

Ellithium.pptx

# Ignore content of specific directories but include .gitkeep for empty folders
Test-Output/Logs/*
!Test-Output/Logs/.gitkeep

Test-Output/Reports/Allure/allure-report/*
!Test-Output/Reports/Allure/allure-report/.gitkeep

Test-Output/Reports/Allure/allure-results/*
!Test-Output/Reports/Allure/allure-results/.gitkeep

Test-Output/Reports/Cucumber/*
!Test-Output/Reports/Cucumber/.gitkeep

Test-Output/ScreenShots/Failed/*
!Test-Output/ScreenShots/Failed/.gitkeep

# Include UpdateChecker folder but keep checker.json
Test-Output/UpdateChecker/*
!Test-Output/UpdateChecker/checker.json

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store