name: Release Drafter

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

jobs:
  update_release_draft:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      
      - name: Release Drafter
        id: release_drafter
        uses: release-drafter/release-drafter@v6
        with:
          name: Release ${{ steps.release_drafter.outputs.version }}
          tag: ${{ steps.release_drafter.outputs.tag }}
          body: ${{ steps.release_drafter.outputs.body }}
          draft: true
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
